<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net472" />
  <package id="Autofac.Extras.DynamicProxy" version="5.0.0" targetFramework="net472" />
  <package id="AutoMapper" version="9.0.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Castle.Core.AsyncInterceptor" version="2.0.21-alpha" targetFramework="net472" />
  <package id="ConfigureAwait.Fody" version="3.3.1" targetFramework="net472" />
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="2019.1.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Metadata" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite.Core" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Composite" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Identity.Core" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.10.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net48" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net48" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net48" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net48" />
  <package id="Nito.Disposables" version="2.0.1" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net472" />
  <package id="System.Linq.Dynamic.Core" version="1.0.22" targetFramework="net472" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Volo.Abp" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Account.Application" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Account.Application.Contracts" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Auditing" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.AuditLogging.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.AuditLogging.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.AuditLogging.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Authorization" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Autofac" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.AutoMapper" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.BackgroundJobs" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.BackgroundJobs.Abstractions" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.BackgroundJobs.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.BackgroundJobs.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.BackgroundJobs.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.BackgroundWorkers" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Caching" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Castle.Core" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Core" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Data" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Ddd.Application" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Ddd.Application.Contracts" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Ddd.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.EntityFrameworkCore.Sqlite" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.EntityFrameworkCore.SqlServer" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.EventBus" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.FeatureManagement.Application" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.FeatureManagement.Application.Contracts" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.FeatureManagement.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.FeatureManagement.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.FeatureManagement.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Features" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Guids" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Http.Abstractions" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Identity.Application" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Identity.Application.Contracts" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Identity.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Identity.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Identity.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.IdentityServer.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Json" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Localization" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Localization.Abstractions" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.MultiTenancy" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.ObjectMapping" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.PermissionManagement.Application" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.PermissionManagement.Application.Contracts" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.PermissionManagement.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.PermissionManagement.Domain.Identity" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.PermissionManagement.Domain.IdentityServer" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.PermissionManagement.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.PermissionManagement.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Security" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Serialization" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.SettingManagement.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.SettingManagement.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.SettingManagement.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Settings" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.TenantManagement.Application" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.TenantManagement.Application.Contracts" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.TenantManagement.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.TenantManagement.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.TenantManagement.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Threading" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Timing" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.UI" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.UI.Navigation" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Uow" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Users.Abstractions" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Users.Domain" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Users.Domain.Shared" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Users.EntityFrameworkCore" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.Validation" version="2.3.0" targetFramework="net472" />
  <package id="Volo.Abp.VirtualFileSystem" version="2.3.0" targetFramework="net472" />
</packages>